body{
	font-family: sans-serif;
}
#intro{
	background-image: url("../css/landing.jpg");
	color: #F15A29;
	color: white;
	font-size: 35px;
	text-align: center;
	padding: 60px;
	margin:0px;
	background-repeat: no-repeat;

}
.important{
	font-weight: bold;
}
#test-box1{
text-align: right;
margin: 10px;
padding: 0px;
width: 20px;
border: solid grey;
}
#text-box2{
	text-align: left;
	margin: 10px;
	width: 20px;
	padding:0px;
border: solid grey;
}
footer{
	align-items: center;
	background-color: #F15A29;
	color: white;
	text-align: center;
	font-size: 20px;
}
.column1{
	float: right;
	width: 50%;
}
.column2{
	float: left;
	width: 50%
}
.sidebar{
	text-align: center;
	font-size: 20px;
}
#happy{
	padding: 2px;
	margin-left: -15px;
	margin-right: -30px;
	height: 105px;

	background-color: grey;
}
#party{
	padding: 2px;
margin-left: -15px;
margin-right: -30px;
height: 105px;
background-color: #F15A29;

}
.breakfast{
	position: absolute;
	 top: 50%;
	 left: 50%;
}
.lunch{
	position: absolute;
	 top: 50%;
	 left: 50%;
}
.dinner{
	position: absolute;
	 top: 50%;
	 left: 50%;
	     transform: translate(-50%, -50%);
}
#foods{
      background-image: url("/home/richard/Documents/mpft-ip/img/backgrounds/foodsBg.jpg");
      background-size: cover;
      padding:200px;
      background-position: center;

    margin: ;
      height:700px;
    }
    #food2{
      bbackground-color: lightgrey;
    padding : 0px;
    margin:0px;
    background-color: white;

  }
#subscribe{
	background-image: url(../img/backgrounds/subscribe.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding:40px;
	margin:10px;
}
#customers{
	margin:10px;
	padding:40px;
	 box-shadow: 4px 4px 4px 4px;
}
