body{
	font-family: sans-serif;
}

#intro{
	background-image: url("../css/landing.jpg");
	color: #F15A29;
	color: white;
	font-size: 35px;
	text-align: center;
}
.important{
	font-weight: bold;
}
.test-box1{
text-align: right;
margin: 10px;
padding: 0px;
width: 20px;
}
.text-box2{
	text-align: left;
	margin: 10px;
	width: 20px;

}
footer{
	align-items: center;
	background-color: #F15A29;
	color: white;
	text-align: center;
	font-size: 20px;
}
.column1{
	float: right;
	width: 50%;
}
.column2{
	float: left;
	width: 50%
}
.sidebar{
	text-align: center;
	font-size: 20px;
}
.breakfast{
	position: absolute;
	 top: 50%;
	 left: 50%;
}
.lunch{
	position: absolute;
	 top: 50%;
	 left: 50%;
}
.dinner{
	position: absolute;
	 top: 50%;
	 left: 50%;
	     transform: translate(-50%, -50%);
}
#row{
	position: absolute;
	background-color: white;
	top: 25%;
	left: 25%;
}
#row{
	position: absolute;
	background-color: #F15A29;
	top: 25%;
	left: 25%;
}
